{% extends 'base.html' %}
{% block title %}Delete Post!{% endblock %}

{% block content %}


{% if user.is_authenticated %}

<div class="row">
    <div class="col s12 m6">
        <div class="card #fafafa grey lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Delete Post</span>
                <h3>Delete: {{ post.title }}</h3>
                <form method="POST">
                    {% csrf_token %}
                    <strong>Are you sure you want to delete </strong>

                    <button type="submit" class="waves-effect waves-light btn #0097a7 cyan darken-2">Delete</button>

                </form>
            </div>
        </div>
    </div>
</div>

{% else %}

You are not authorized to view this page-footer

{% endif %}


{% endblock %}