{% extends 'base.html' %}

{% block content %}
<h1>Lyoko</h1>
<p>A Blog for Career Switchers</p>




<!-- Display user info and log out if authenticated, else provide log in link -->
{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}</p>
  <a href="{% url 'logout' %}">Log Out</a>
{% else %}
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

<!-- Show posts if user is authenticated -->
{% if user.is_authenticated %}
<div class="row">
  <div class="col s12 m6">
    <div class="card #fafafa grey lighten-5">
      <div class="card-content">
        <h1>Posts</h1>
        <ul>
          {% for post in posts %}
          <li>
            <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
            - {{ post.categories.all|join:", " }}
            - {{ post.author }} {{ post.created_on|date:"Y-m-d H:i" }}
            <br/>
            {{ post.body|slice:":100"|safe }}...
            <div>
              <a class="waves-effect waves-light btn-small" href="{% url 'edit_post' post.pk %}">Edit</a>
              <a class="waves-effect waves-light btn-small #f44336 red" href="{% url 'delete_post' post.pk %}">Delete</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
